<!-- Diagonal background -->
<div class="diagonal__bg"></div>
<div class="page-bg"></div>


<div class="video-container">

    <header>
        <h1 class="page__title video__title">Guarda il Video</h1>
    </header>

    <div class="page__description video__subtitle">Scopri come partecipare al contest con il nostro video tutorial</div>

    <div class="video-content">
        <iframe src="https://www.youtube.com/embed/5XYUHJ13KHM" frameborder="0" allow="encrypted-media"
        allowfullscreen></iframe>
    </div>

</div>
