@import '~assets/scss/_mixins';

.diagonal__bg {
    // height: calc(100vh - 12%);
    min-height: calc(100% - 18%);
    top: 18%;
}

.page-bg {
    position: absolute;
    background: url("../../assets/images/img_5.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 500px;
    opacity: 0.5;
    top: 35%;
}

.video-container {
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    padding: {
        right: 20px;
        left: 20px;
    }

    header {
        margin-bottom: 180px;

        .video__title { text-align: center; }
    }

    .video__subtitle {
        text-align: center;
        margin: {
            top: 75px;
            bottom: 40px;
        }
        padding: {
            right: 50px;
            left: 50px;
        }
    }

    .video-content {
        position: relative;
        height: 0;
        overflow: hidden;
        @include box-shadow(0, 0, 25px, rgba(0, 0, 0, 0.6));
        padding: {
            top: 35px;
            bottom: 56.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
        }

    }
}


@media only screen and (max-width: 767px) {
    .diagonal__bg {
        min-height: calc(100% - 24%);
        top: 24%;
    }

    .page-bg {
        top: 470px;
        height: 400px;
    }

    .video-container {
        header { margin-bottom: 0; }
    }

}


@media only screen and (max-width:599px) {
    .diagonal__bg {
        min-height: calc(100% - 26%);
        top: 26%;
    }

    .page-bg {
        top: 475px;
        height: 300px;
    }

}

@media only screen and (max-width:419px) {
    .diagonal__bg {
        min-height: calc(100% - 20%);
        top: 20%;
    }

    .page-bg {
        top: 380px;
        height: 200px;
    }

}
