<!-- Diagonal background -->
<div class="diagonal__bg"></div>

<div class="premi__container">

    <header>
        <h1 class="page__title page__title__premi">Premi in palio</h1>
    </header>

    <div class="premi__content">

        <div class="premi__content__row">
            <div class="premi__content__column__text order--second">
                <div class="premi__content__column__text__title">Primo premio</div>
                <div class="page__description premi__content__column__text__description">Per il primo classificato in palio un weekend* per 2 persone a Parigi.</div>
                <div class="page__sub page__sub premi__content__column__text__sub">*volo e soggiorno pensione completa per 2 notti sono inclusi nel premio. Ulteriori info sul <a href="">reolamento del concorso</a></div>
            </div>

            <div class="premi__content__column__image order--first"><img src="../../assets/images/img_4.jpg"></div>
        </div>

        <div class="premi__content__row">
            <div class="premi__content__column__image order--first"><img src="../../assets/images/img_1.jpg"></div>
            <div class="premi__content__column__text order--second">
                <div class="premi__content__column__text__title">Secondo premio</div>
                <div class="page__description premi__content__column__text__description">Il secondo estratto si aggiudichera un volo* per Parigi</div>
                <div class="page__sub premi__content__column__text__sub">*volo andat e ritorno per 1 persona, soggiorno in albergo non incluso. Ulteriori info sul <a href="javascript:void(0)">regolamento del concorso</a></div>
            </div>
        </div>

        <div class="premi__content__row">
            <div class="premi__content__column__text order--second">
                <div class="premi__content__column__text__title">Terzo premio</div>
                <div class="page__description premi__content__column__text__description">il terzo, quarto e quinto estratto si aggiundicheranno i gadget ufficiali della citta.</div>
            </div>
            <div class="premi__content__column__image order--first"><img src="../../assets/images/img_3.jpeg"></div>
        </div>

    </div>

</div>
