<!-- Diagonal background -->
<div class="diagonal__bg"></div>

<div class="partecipa-container">
    <div class="partecipa-container-left">
        <h1 class="partecipa-container-left__title">
            Vinci <br> un viaggio a Parigi
        </h1>
        <div class="partecipa-container-left__subtitle">
            Compila il form con i tuoi dati e partecipa all'estrazione di un soggiorno a Parigi!
        </div>
        <div class="partecipa-container-left__sub">
            Concorso valido dal 20/10/2017 al 10/11/2017. Per info consulta il <a href="javascript:void(0)">regolamento</a>.
        </div>
    </div>

    <div class="partecipa-container-right">
        <app-partecipa-form></app-partecipa-form>
    </div>
</div>
